exportPattern("^[[:alpha:]]+")
import(dplyr)
import(magrittr)
import(photon)
importFrom(tidyr, pivot_wider)
importFrom(glue, glue)
importFrom(httr, content)
importFrom(httr, GET)
importFrom(stats, chisq.test, fisher.test, quantile)
